// Source for colors
// http://www.colourlovers.com/palette/580657/Flag_of_Chicago
$chicago-blue: #b3ddf2;
$chicago-red: #f00;

$tinted-chicago-blue: #dff0f9;

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: $chicago-blue;
}

.table-hover > tbody > tr:hover {
  background-color: $tinted-chicago-blue;
}

a {
  color: $chicago-red;
}

.jumbotron,
.panel-default > .panel-heading,
.panel-default > .panel-body,
.well {
  background-color: $chicago-blue;
}
