<div class="container">
    <div class="page-header text-center">
        <h1>
            {{#link-to 'vehicle'}}
                Chicago, Where's My Car?
            {{/link-to}}
        </h1>
    </div>

    <div class="container-fluid">
        {{outlet}}
    </div>
</div>
