<div class="container">
    <div class="jumbotron text-center">
        <h1><a href="/">Chicago, Where's My Car?</a></h1>
        <p>Find your car if it was towed or relocated by the City of Chicago</p>
        <p class="stars text-center">✶&nbsp;&nbsp;✶&nbsp;&nbsp;🚘&nbsp;&nbsp;✶</p>
    </div>
</div>
<div class="container">
    {{outlet}}
</div>
<footer class="container">
    <ul class="well well-sm text-center list-inline">
        <li>
            <small>
                <a href="http://zachgarwood.com/" target="_blank">Zach Garwood</a>
            </small>
        </li>
        <li>
            <small>
                <a href="https://data.cityofchicago.org/" target="_blank">
                    City of Chicago Open Data
                </a>
            </small>
        </li>
    </ul>
</footer>
