<h3>Vehicle</h3>
<table>
    <thead>
        <tr>
            <th>Date Towed</th>
            <th>License Plate</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each sortedVehicles as |vehicle|}}
            <tr>
                <td>{{moment-from-now vehicle.date}}</td>
                <td>{{vehicle.licensePlate}}</td>
                <td>{{vehicle.description}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
